.calculator button {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  transition: all 0.5s;
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
  font-weight: 600;
  font-size: 17px;
}

.calculator button:nth-child(17){
  grid-column: 1/3;
}

.calculator button:first-child{
  background-color: rgb(255, 255, 255);
  color: black;
}

.calculator buttonL:first-child:hover {
  opacity: 0.8;
}

.calculator button:hover {
  background-color: rgba(50, 50, 50, 0.9);
  cursor: pointer;
}

.calculator button:active {
  filter: brightness(100%);
}

